.form 
{
    background-color:white;
    margin:200px auto;
    width:20%;
    padding:10px;
    box-shadow:5px 5px lightgray;
}

.nav
{
    background-color:cornflowerblue;
    color:white;
    width:180px;
    height:50px;
    border-radius:25px;
}

header
{
    margin:auto;
    padding:30px;
    background-color:white;
    height: 70px;
    box-shadow:5px 5px lightgray;
}

#submit
{
    background-color:cornflowerblue;
    color:white;
    width:180px;
    border-radius:25px;
}